.end {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    padding: 100px ;
    padding-left: 400px;
}

.end-content {
    padding: 60px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 3px 3px rgba(0, 0, 0,0.12),0 1px 2px rgba(0, 0, 0,0.24);
}

.end-content > h3 {
    font-size: 2rem;
}

.end-content > p {
    font-size: 1rem;
}

.end-content > button{
    margin-top: 50px;
    text-transform: inherit !important;
    background-color: #0a8d48 !important;
    color: white;
    margin-left: 20px;
    border: yellowgreen;
    padding: 10px;
}