.sidebarOption {
    display: flex;
    align-items: center;
    font-size: 12px;
    padding-left: 2px;
    cursor: pointer;
}

.sidebarOption:hover {
    background-color: #423f42;
}

.sidebarOption__icon {
    padding: 10px;
    font-size: 20px !important;
}

.sidebarOption__quiz {
    padding: 10px 0;
}

.sidebarOption__hash {
    padding: 10px;
}